@model ApplicationUser

<dic class="from-group">
	<label asp-for="@Model.UserName" class="col-form-label"></label>
	<input asp-for="@Model.UserName" class="form-control" readonly />
</dic>

<dic class="from-group">
	<label asp-for="@Model.Email" class="col-form-label"></label>
	<input asp-for="@Model.Email" class="form-control" readonly />
</dic>